*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-color: darkblue;

}

#results{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resultCard{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    padding: 10px;
    margin: 10px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.resultCard>img{
    width: 500px;
    
}
